{% extends 'base.html' %}
{% block content %}
{% for user in users %}
{% if not user.id==current_user.id %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="{{ user.get_icon_url() }}" class="img-fluid rounded-start" alt="avatar">
            </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{ user.first_name }} {{ user.last_name }} </h5>
            <p class="card-text">User ID: {{user.id}} - Maybe we will add a bio to the user table in the future and put it here</p>
            {% if not current_user.is_following(user) %}
            <a href="/follow/{{user.id}}" class="btn btn-info">Follow</a>
            {% else %}
            <a href="/unfollow/{{user.id}}"  class="btn btn-danger">Unfollow</a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
{% endblock %}