{% extends 'base.html' %}
{% block title %}
My Students
{% endblock %}
{% block content %}
    <h1>Here are all the students in our class:</h1>
    <ul class="list-group">
        {% for student in students %}
            <li class="list-group-item">{{ student }}</li>
        {% endfor %}
    </ul>
{% endblock %}